In [49]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd 
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1,2

In [50]:
emp=pd.read_csv('/content/drive/My Drive/data.csv',usecols=[0,1,3],na_values=':')
emp.head(5)

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

# 3

In [51]:
emp['Value']=emp['Value'].fillna(emp.groupby('GEO')['Value'].transform('mean'))
emp.isnull().sum()

TIME     0
GEO      0
Value    0
dtype: int64

In [52]:
emp.dtypes

TIME       int64
GEO       object
Value    float64
dtype: object

# 5

In [53]:
emp.loc[(emp['Value']>5) &(emp['TIME']==2011)]

     TIME                            GEO  Value
11   2011  European Union (28 countries)   5.25
23   2011  European Union (27 countries)   5.25
35   2011  European Union (25 countries)   5.31
47   2011       Euro area (18 countries)   5.15
59   2011       Euro area (17 countries)   5.15
71   2011       Euro area (15 countries)   5.16
83   2011       Euro area (13 countries)   5.15
95   2011                        Belgium   6.55
131  2011                        Denmark   8.75
155  2011                        Estonia   5.16
167  2011                        Ireland   6.15
203  2011                         France   5.68
227  2011                         Cyprus   7.87
251  2011                      Lithuania   5.17
287  2011                          Malta   7.96
299  2011                    Netherlands   5.93
311  2011                        Austria   5.80
335  2011                       Portugal   5.27
359  2011                       Slovenia   5.68
383  2011                        Finland   6.76

# 6

In [54]:
emp.max()

TIME      2011
GEO      Spain
Value     8.81
dtype: object

# 7

In [55]:
emp['val_sq']=emp['Value']**2
emp.head()

   TIME                            GEO  Value     val_sq
0  2000  European Union (28 countries)  5.081  25.816561
1  2001  European Union (28 countries)  5.081  25.816561
2  2002  European Union (28 countries)  5.000  25.000000
3  2003  European Union (28 countries)  5.030  25.300900
4  2004  European Union (28 countries)  4.950  24.502500

# 8

In [56]:
emp.drop('val_sq',1,inplace=True)
emp.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)  5.081
1  2001  European Union (28 countries)  5.081
2  2002  European Union (28 countries)  5.000
3  2003  European Union (28 countries)  5.030
4  2004  European Union (28 countries)  4.950

# 9

In [57]:
app=pd.DataFrame({'TIME':[2000],'GEO':['a'],'Value':[5]})
emp.append(app,ignore_index=True)

     TIME                            GEO  Value
0    2000  European Union (28 countries)  5.081
1    2001  European Union (28 countries)  5.081
2    2002  European Union (28 countries)  5.000
3    2003  European Union (28 countries)  5.030
4    2004  European Union (28 countries)  4.950
..    ...                            ...    ...
380  2008                        Finland  6.100
381  2009                        Finland  6.810
382  2010                        Finland  6.850
383  2011                        Finland  6.760
384  2000                              a  5.000

[385 rows x 3 columns]

# 10

In [58]:
emp.sort_values('Value',0,False)

     TIME         GEO  Value
130  2010     Denmark   8.81
131  2011     Denmark   8.75
129  2009     Denmark   8.74
121  2001     Denmark   8.44
122  2002     Denmark   8.44
..    ...         ...    ...
340  2004     Romania   3.28
337  2001     Romania   3.25
259  2007  Luxembourg   3.15
347  2011     Romania   3.07
336  2000     Romania   2.88

[384 rows x 3 columns]

# 11

In [59]:
b=emp.groupby('GEO').mean()
b['Value']

GEO
Austria                                             5.618333
Belgium                                             6.189091
Bulgaria                                            4.093333
Cyprus                                              7.023333
Czech Republic                                      4.168333
Denmark                                             8.331667
Estonia                                             5.270833
Euro area (13 countries)                            5.019091
Euro area (15 countries)                            5.025455
Euro area (17 countries)                            4.943000
Euro area (18 countries)                            4.944000
European Union (25 countries)                       5.091667
European Union (27 countries)                       5.060833
European Union (28 countries)                       5.081000
Finland                                             6.326667
France                                              5.797500
Germany (until 1990 former territory of the FRG)    4.685000
Greece                                              3.710000
Hungary                                             5.193333
Ireland                                             5.070000
Italy                                               4.552500
Latvia                                              5.560000
Lithuania                                           5.250000
Luxembourg                                          3.645714
Malta                                               5.591667
Netherlands                                         5.497500
Poland                                              5.197500
Portugal                                            5.297500
Romania                                             3.494000
Slovakia                                            3.996667
Slovenia                                            5.637273
Spain                                               4.464167
Name: Value, dtype: float64

# 12

In [60]:
en = emp.copy()
en=en.loc[(en['TIME']>2005)].pivot(index='GEO',columns='TIME',values='Value')
en

TIME                                               2006  ...      2011
GEO                                                      ...
Austria                                           5.400  ...  5.800000
Belgium                                           5.980  ...  6.550000
Bulgaria                                          4.040  ...  3.820000
Cyprus                                            7.020  ...  7.870000
Czech Republic                                    4.420  ...  4.510000
Denmark                                           7.970  ...  8.750000
Estonia                                           4.700  ...  5.160000
Euro area (13 countries)                          4.870  ...  5.150000
Euro area (15 countries)                          4.870  ...  5.160000
Euro area (17 countries)                          4.690  ...  5.150000
Euro area (18 countries)                          4.690  ...  5.150000
European Union (25 countries)                     4.930  ...  5.310000
European Union (27 countries)                     4.910  ...  5.250000
European Union (28 countries)                     4.910  ...  5.250000
Finland                                           6.180  ...  6.760000
France                                            5.610  ...  5.680000
Germany (until 1990 former territory of the FRG)  4.430  ...  4.980000
Greece                                            3.710  ...  3.710000
Hungary                                           5.440  ...  4.710000
Ireland                                           4.730  ...  6.150000
Italy                                             4.670  ...  4.290000
Latvia                                            5.130  ...  4.960000
Lithuania                                         4.820  ...  5.170000
Luxembourg                                        3.410  ...  3.645714
Malta                                             6.450  ...  7.960000
Netherlands                                       5.500  ...  5.930000
Poland                                            5.250  ...  4.940000
Portugal                                          5.070  ...  5.270000
Romania                                           3.494  ...  3.070000
Slovakia                                          3.800  ...  4.060000
Slovenia                                          5.720  ...  5.680000
Spain                                             4.260  ...  4.820000

[32 rows x 6 columns]

# 13,14

In [61]:
sec=pd.read_csv('https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/tps00053.tsv.gz',compression='gzip',sep=',|\t')
sec

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

    duration isced11     age sex unit  ...  2015   2016    2017    2018   2019
0       Y1-3   ED3-8  Y20-34   F   PC  ...  86.4   88.2    90.0    85.9   87.4
1       Y1-3   ED3-8  Y20-34   F   PC  ...  80.9   82.2   82.5 b   84.2   84.0
2       Y1-3   ED3-8  Y20-34   F   PC  ...  73.9   68.9    77.5    74.6   76.3
3       Y1-3   ED3-8  Y20-34   F   PC  ...  85.3   84.6    89.9    88.6   87.9
4       Y1-3   ED3-8  Y20-34   F   PC  ...  69.8   74.2    73.8    82.5   79.1
..       ...     ...     ...  ..  ...  ...    ...    ...     ...     ...   ...
109     Y1-3   ED3-8  Y20-34   T   PC  ...  85.9   86.7    88.3   88.1 b  88.7
110     Y1-3   ED3-8  Y20-34   T   PC  ...  71.5   76.7    81.6    84.2   86.0
111     Y1-3   ED3-8  Y20-34   T   PC  ...  75.2   79.6    81.5    83.4   83.9
112     Y1-3   ED3-8  Y20-34   T   PC  ...  61.9   61.1    61.2    61.5   57.8
113     Y1-3   ED3-8  Y20-34   T   PC  ...  85.8   84.4    86.6    86.7   85.4

[114 rows x 18 columns]

# 15

In [62]:
sec.dtypes

duration     object
isced11      object
age          object
sex          object
unit         object
geo\time     object
2008         object
2009         object
2010         object
2011         object
2012        float64
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
2019        float64
dtype: object

In [63]:
sec['2008 '] = sec['2008 '].str.extract('(\d+)').astype(float)
sec['2009 '] = sec['2009 '].str.extract('(\d+)').astype(float)
sec['2010 '] = sec['2010 '].str.extract('(\d+)').astype(float)
sec['2011 '] = sec['2011 '].str.extract('(\d+)').astype(float)
sec['2013 '] = sec['2013 '].str.extract('(\d+)').astype(float)
sec['2014 '] = sec['2014 '].str.extract('(\d+)').astype(float)
sec['2015 '] = sec['2015 '].str.extract('(\d+)').astype(float)
sec['2016 '] = sec['2016 '].str.extract('(\d+)').astype(float)
sec['2017 '] = sec['2017 '].str.extract('(\d+)').astype(float)
sec['2018 '] = sec['2018 '].str.extract('(\d+)').astype(float)
sec.dtypes

duration     object
isced11      object
age          object
sex          object
unit         object
geo\time     object
2008        float64
2009        float64
2010        float64
2011        float64
2012        float64
2013        float64
2014        float64
2015        float64
2016        float64
2017        float64
2018        float64
2019        float64
dtype: object

# 16

In [64]:
sec.groupby('sex')['2016 '].mean()

sex
F    74.368421
M    78.736842
T    76.473684
Name: 2016 , dtype: float64

# 17

In [65]:
sec[sec['sex']=='F'].mean().sort_values(ascending=False).index[0]

'2019'

# 18

In [66]:
e=sec.columns.to_list()
e[5]='geotime'
sec.columns=e

In [67]:
sec.columns

Index(['duration', 'isced11', 'age', 'sex', 'unit', 'geotime', '2008 ',
       '2009 ', '2010 ', '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ',
       '2017 ', '2018 ', '2019'],
      dtype='object')

# 19

In [68]:
(100-sec.loc[(sec['geotime']=='EU27_2020')&(sec['sex']=='M')]['2010 ']).sum()

22.0

# 20

In [69]:
s= sec.copy()
s=s.drop(['duration','isced11','unit','sex','age'],axis=1)
f=pd.melt(s,id_vars=['geotime'],var_name='Year',value_name='Unemployment Rate')
f['Unemployment Rate']=100-f['Unemployment Rate']
f

     geotime   Year  Unemployment Rate
0         AT  2008                11.0
1         BE  2008                18.0
2         BG  2008                24.0
3         CH  2008                12.0
4         CY  2008                14.0
...      ...    ...                ...
1363      SE   2019               11.3
1364      SI   2019               14.0
1365      SK   2019               16.1
1366      TR   2019               42.2
1367      UK   2019               14.6

[1368 rows x 3 columns]