<a href="https://colab.research.google.com/github/karthicsalem/ipynb_trial/blob/master/trial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hey")

hey

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
df=pd.read_csv('')

FileNotFoundError: ignored

In [ ]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
import pandas as pd
weather_data={
    '1':['ddv','dvd'],
    '2':['dsvd','sdvds']
}
df=pd.DataFrame(weather_data)
df

     1      2
0  ddv   dsvd
1  dvd  sdvds

In [ ]:
df.head(1)

     1     2
0  ddv  dsvd

In [ ]:
df.sample(10
          )

ValueError: ignored

In [ ]:
a,b=df.shape

In [ ]:
a
b

In [ ]:
b

In [ ]:
a

In [ ]:
df.sample(10)

In [ ]:
df.dtypes

In [ ]:
df=df.set_index('1')

In [ ]:
df

In [ ]:
df=df.reset_index()

In [ ]:
df

In [ ]:
df['1']

In [ ]:
df.rename(columns={
    '1':'one',
    '2':'two'
},inplace=True)

In [ ]:
df.columns

In [ ]:
df['one'].value_counts()

In [ ]:
d=pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/credit/data.csv')

In [ ]:
a,b=d.shape

In [ ]:
a

In [ ]:
b

In [ ]:
d.dtypes

In [ ]:
d.describe

In [ ]:
d.describe['all']

In [ ]:
d=d.rename(columns={
    'RevolvingUtilizationOfUnsecuredLines':'x',
    'NumberOfTime30-59DaysPastDueNotWorse':'y'
})

In [ ]:
d.describe()

In [ ]:
d.describe()

In [ ]:
df

In [ ]:
import pandas as pd